<!--
// Title: nodebucket
// Author: Professor Krasso
// Date: 20 Jan 2023
// Modified by: Kayla McDanel
// Attributions: Code from Bellevue Web Dev GitHub Repository
// https://github.com/buwebdev/web-450
-->

<!--Main div for contact info-->
<div fxLayout="column" class="main-welcome">

  <!--Page header-->
  <div fxFlex>
    <h1 class="title">
      <strong>Please reach out to us with any questions or comments.</strong> <br />
    </h1>
  </div>

  <!--Address info-->
  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="25px" class="task-container" >
    
      <!--Address column-->
      <div fxFlex>
        <mat-card class="mat-elevation-z4">

          <mat-card-title>
          <mat-icon color="primary">navigation</mat-icon>
        </mat-card-title>
          <mat-card-content>
            <!--Drag and drop functionality for To Do list-->
            <div fxLayout="column"
            fxLayoutGap="10px"
            class="task-column">

            123 First Street <br />
            Atlanta, Georgia

          </div>
          </mat-card-content>
        </mat-card>
      </div>

  <!--Telephone info-->
  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="25px" class="task-container" >
        <mat-card class="mat-elevation-z4">

          <mat-card-title>
          <mat-icon color="primary">phone</mat-icon>
        </mat-card-title>
          <mat-card-content>
            <!--Drag and drop functionality for To Do list-->
            <div fxLayout="column"
            fxLayoutGap="10px"
            class="task-column">

            555-555-1234 <br />
            1-800-555-1234

          </div>
          </mat-card-content>
        </mat-card>
      </div>
