<!--
// Title: nodebucket
// Author: Professor Krasso
// Date: 20 Jan 2023
// Modified by: Kayla McDanel
// Attributions: Code from Bellevue Web Dev GitHub Repository
// https://github.com/buwebdev/web-450
-->


<div fxLayout="column" class="not-found">

    <!--Page header-->
    <div fxFlex>
      <h1 class="title">
        <strong>404 <br/> PAGE NOT FOUND</strong> <br />
        <span class="subtitle">
          We looked high and low but couldn't find it!

        </span>
      </h1>


<br /> <br />

    <div class="figure-found">
      <img src="../assets/hans-veth-YGMyrU2sjUk-unsplash.jpg" ><br/>
        Photo by <a href="https://unsplash.com/de/@hans_veth?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hans Veth</a> on 
        <a href="https://unsplash.com/photos/YGMyrU2sjUk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
</div>
</div>