.main-container {
    margin: 40px 0 5px 40px;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .title    {
    text-align: center;
  }

.p {
    text-align: justify;
}

.figure-one  {
    height: 250px;
    float:left;
    padding: 10px;
    display: table;
}


.figure-two  {
    height: 250px;
    float: right;
    padding: 10px;
    display: table;
}

.figcaption {
  display: table-caption;
  caption-side: bottom;
}