<!--
// Title: nodebucket
// Author: Professor Krasso
// Date: 27 Jan 2023
// Modified by: Kayla McDanel
// Attributions: Code from Bellevue Web Dev GitHub Repository
// https://github.com/buwebdev/web-450
//Images from Unsplash
-->


 <div fxLayout="column" class="main-container">
    <div fxFlex>
        <h1 class="title">
            <strong>About Nodebucket</strong>
        </h1>
        <div fxLayout class="figure-one">
            <img src="../assets/tim-gouw-1K9T5YiZ2WU-unsplash.jpg"><br />
        </div>
    <br />
    <p>
        Are you tired of wasting page after page of note pads, sticky notes, and calendars? Does it frustrate you to no end 
        to create those notes, tasks, and to-do lists, just to forget them at home when you need them most? Those new waste-free 
        notebooks are great for the environment, but are easily forgotten at home, in the car, in a bag at a friend’s house. 
        You know what is always with you? Your mobile phone! Why spend all that time and energy writing down reminders and trying 
        to keep track of another tangible item in your life? Try tracking down a planner while ensuring a two-year-old (child or 
        animal) stays out of trouble. Good luck! We understand the struggle of needing more than a calendar app to remind you of 
        tasks, priorities, and due dates. That’s why we created Nodebucket.
    </p>

    <div fxLayout class="figure-two">
        <img src="../assets/steve-johnson-lPX6-ee-1zU-unsplash.jpg"><br />
    </div>

    <p>
        Nodebucket is an easy-to-use task management software that allows you to create, track, edit, and delete time sensitive 
        material. It is accessible through your computer and your mobile phone, allowing seamless transitions from work to 
        on-the-go. Nodebucket offers drag-and-drop and tap-to-delete organization to help you prioritize tasks. Push notifications 
        remind you of upcoming due dates and high priority items. Our software makes it easy to keep your mind clear and focused 
        with tasks laid out right when you open the app. No getting lost here! Feeling overwhelmed with the number of tasks to 
        complete? Hide lower priority tasks for later and focus on what is most important. Nodebucket will become your personal 
        assistant, keeping you on track and on time.
    </p>


    <p>First photo by <a href="https://unsplash.com/@punttim?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Tim Gouw</a> on <a href="https://unsplash.com/s/photos/frustration?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>    
    </p>

    <p>Second photo by <a href="https://unsplash.com/@steve_j?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Steve Johnson</a> on <a href="https://unsplash.com/photos/lPX6-ee-1zU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
     </p>
     </div>
</div>


