.login-container {
    width: 75%;
    margin: 10% auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #FFD54F;
    padding-top: 10px;
    border-radius: 2px;
    justify-content: center;
}