.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
  border-bottom: black;
  border-width: 1px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

.task-container {
  width: 50%;
  margin: 0 auto;
}

.task-column {
  border: 1px solid gray;
  min-height: 68px;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  display: block;
}

.task-card {
  cursor: move;
  padding: 20px 10px;
  border-bottom: 2px solid gray;
  min-height: 68px;
  height: 68px;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}