.logo {
  font-size: 24px;
  font-weight: lighter; 
  margin-top: 20px;
}

.badger {
  margin-top: 5px;
  height: 65px;
  padding: 5px;
}

.navbar-container {
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding-left: 30px;
  height: 25px;
  background-color: #FFD54F;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
  background-color: #FFD54F;
}

.bu-link {
  text-decoration: none;
  color: black;
}

.bu-link:hover {
  text-decoration: underline;
  color: #FFD54F;
}
